div
  h3
    a(ng-show="post.link" href="{{post.link}}") {{post.title}}
    div(ng-hide="post.link") {{post.title}}
form(ng-show="isLoggedIn()", ng-submit="addComment()")
  input(type="text", placeholder="Comment", ng-model="body")
  button(type="submit") Comment
div(ng-hide="isLoggedIn()")
  a(href="#/login") Login 
  | or 
  a(href="#/register") register 
  | to post or comment.
div.comment(ng-repeat="comment in post.comments | orderBy: '-upvotes'")
  div.upvote.clickable(ng-show="isLoggedIn()", ng-click="upvote(comment)") ^
  div.upvote(ng-hide="isLoggedIn()") ^
  | {{comment.upvotes}} - by {{comment.author}}  
  div.comment-body {{comment.body}}
