div.user {{user.username}}
div.post-title Posts
div.post(ng-repeat="post in user.posts") 
  div.upvote-wrapper
    div.upvote.enabled(ng-show="isLoggedIn()", ng-class="hasUpvoted(post) ? 'voted' : ''", ng-click="upvotePost(post)") +
    div.upvote(ng-hide="isLoggedIn()") +
    div.rating {{post.rating}}
    div.downvote.enabled(ng-show="isLoggedIn()", ng-class="hasDownvoted(post) ? 'voted' : ''", ng-click="downvotePost(post)") -
    div.downvote(ng-hide="isLoggedIn()") -
  div.post-content
    div.title
      a(ng-show="post.link" href="{{post.link}}") {{post.title}}
      div(ng-hide="post.link") {{post.title}}
    div.body {{post.body}}
    a.comments(href="/posts/{{post._id}}")
      | {{post.comments.length == 1 ? '1 comment' : post.comments.length + ' comments'}}
div.comment-title Comments
div.comment(ng-repeat="comment in user.comments")
  div.upvote-wrapper
    div.upvote.enabled(ng-show="isLoggedIn()", ng-class="hasUpvoted(comment) ? 'voted' : ''", ng-click="upvoteComment(comment)") +
    div.upvote(ng-hide="isLoggedIn()") +
    div.rating {{comment.rating}}
    div.downvote.enabled(ng-show="isLoggedIn()", ng-class="hasDownvoted(comment) ? 'voted' : ''", ng-click="downvoteComment(comment)") -
    div.downvote(ng-hide="isLoggedIn()") -
  div.comment-content
    div.body {{comment.body}}